@charset "utf-8";

.gnbMacao, .gnbMain {background:url(../img/ico.png); background-size:200px 150px}

body, p, h1, h2, h3, h4, h5, ul, li, dl, dt, dd, header {margin:0; padding:0; font-family: "segoe ui",meiryo,"yu gothic","hiragino kaku gothic pron",sans-serif;}
body {background:#eceef0; margin:0}
a {text-decoration:none; cursor:pointer;}
li {list-style:none;}
header {background:url(../img/bg_header.png); background-size:18px 44px; height:44px; position:relative;}
header .gnbMain {background-position:0px 0px; display:block; position:absolute; top:5px; left:5px; width:112px; height:32px;}
header .gnbMacao {background-position:129px 0px; display:block; position:absolute; top:5px; right:5px; width:107px; height:32px; display:none}
header h1 {text-align:center; padding-top:7px}
header h1 img {width:130px; margin-top:2px}
header.bo {background:none; height:initial;}

nav|pg_wrap {width: 100%;background: #74b1c4;background: -webkit-gradient(radial,50% 50%,0px,50% 50%,100%,color-stop(0%,#81b8c9),color-stop(40%,#7fb6c8),color-stop(100%,#74b1c4));line-height: 34px;-webkit-box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.2),inset 0 -1px 0 0 rgba(0,0,0,.1);table-layout: fixed; color:white;}
nav a {color:#fff;; margin:0 0px}
.wrap {position: relative;z-index: 10;margin-bottom: -1px;border-top: 1px solid #ced1d7;border-bottom: 1px solid #979ba5;background: #dcdfe3; padding:20px 0}
.wrap h2 {color:#333; font-size:22px}
.description {font-size:13px; text-align:center; padding:3px 20px; line-height:20px;}
.section {padding:0px 0; margin:0px auto; text-align: center;}
.section2 {padding:0px 0; margin:0px auto; text-align: center;}
.content {border-bottom: 1px solid #bfc2c7; padding:10px 0}
.buttons {border-top: 1px solid rgba(255,255,255,0.4); border-bottom: 1px solid #cdcfd2; padding-top:10px; margin-bottom:10px}

.buttons {padding:10px;}
.share {display: table;width: 100%;margin: 0;border-radius: 3px;-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);}
.share li {display: table-cell;width: 25%;}
.share li a {display: inline-block;width: 100%;height: 33px;border: 1px solid #909296;border-radius: 3px;background: #fff;text-align: center;;border-right: 1px solid #909296}
.share li a span {display: block;height: 31px;margin: 1px;background: #fafbfb;background: -moz-linear-gradient(top,#fafbfb 0%,#f2f1f1 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafbfb),color-stop(100%,#f2f1f1));background: -webkit-linear-gradient(top,#fafbfb 0%,#f2f1f1 100%);background: -o-linear-gradient(top,#fafbfb 0%,#f2f1f1 100%);background: -ms-linear-gradient(top,#fafbfb 0%,#f2f1f1 100%);background: linear-gradient(to bottom,#fafbfb 0%,#f2f1f1 100%);line-height: 32px;font-size: 15px;font-weight: bold;color: #000;letter-spacing: -1px;vertical-align: top;}
.share li:first-child a {position: relative;z-index: 3;border-top-right-radius: 0;border-bottom-right-radius: 0;border-right: 1px solid #909296}
.share li:nth-child(2) a {position: relative;z-index: 3;border-radius: 0;border-right: 1px solid #909296}
.share li:last-child a {position: static;border-bottom-left-radius: 0;border-top-right-radius: 3px !important;border-bottom-right-radius: 3px !important;border-right: 1px solid #909296 !important;}
.share li a em {display: inline-block;overflow: hidden;width: 14px;height: 14px;background: url(../img/sp_btn.png) no-repeat;background-size: 250px 250px;vertical-align: middle;-webkit-background-size: 250px 250px;}
.share li a em.ico_star_check {height: 15px;margin: -4px 5px 0 0;background-position: -82px -19px;}

.btn_w {margin:13px 0 19px; text-align:center; display:}
.btn_go {display: inline-block;width: 83px;height: 31px;border: 1px solid #909296;border-radius: 3px;background: -webkit-gradient(linear,0 0,0 100%,from(#fff),color-stop(.05,#fbfbfb),to(#f1f1f1));line-height: 31px;font-weight: 600;text-align: center;; color:#333}
.btn_go span:after {display: inline-block;overflow: hidden;width: 5px;height: 9px;margin: 11px 0 0 7px;background: url(../img/sp_btn.png) no-repeat -36px -18px;background-size: 250px 250px;vertical-align: top;content: '';-webkit-background-size: 250px 250px;}

.appList {position:relative;}
.appList h2 {border-top: 1px solid #979ba5;border-bottom: 1px solid #979ba5;background: #dcdfe3; padding:5px 10px; color:#333; text-align:left; font-size:18px}
.btn_rlist {display: inline-block;overflow: hidden;position: absolute;top: 10px;right: 10px;width: 114px;height: 25px;padding-left: 8px;background: url(../img/btn_rlist.gif) 0 0 no-repeat;font-weight: bold;line-height: 25px;color: #444;letter-spacing: -1px; font-size:12px}
.btn_rlist.sel {background-position:0 -25px}
.listbox {position:absolute; border:1px solid #555664; top:34px; right:10px; background:#fff; min-width:120px; display:none}
.listbox ul {}
.listbox li {display:block;}
.listbox li.sel {background: #4a9aed;}

.appList ul {}
.appList ul li {list-style:none; border-top: 1px solid rgba(255,255,255,0.4); border-bottom: 1px solid #cdcfd2; padding:8px 15px; display:none;}
.appList ul li a {text-decoration:none; color:#333;}
.ico {display: inline-block;overflow: hidden;background: url(../img/sp_ico.png) no-repeat;background-size: 250px 250px;line-height: 999px;vertical-align: top;-webkit-background-size: 250px 250px;}
.ico.new {width: 25px;height: 15px;margin-top: 2px;background-position: -2px -2px;}
.ico.hot {width: 25px;height: 15px;margin-top: 2px;background-position: -31px -2px;}
.ico.command {width: 25px;height: 15px;margin-top: 2px;background-position: -57px -2px;}
.ico.sel {width: 12px;height: 17px;margin-top: 2px;background-position: -87px -1px;}
.ico.ing {width: 25px;height: 17px;background-position: -31px -19px;}
.ico.close {width: 25px;height: 17px;background-position: -2px -19px;}

.question {padding:20px}
#snsBox {text-align:center}


button {
}
button.btns {width:120px;}

h1 {font-size: 22px; text-align:center;}
h2.go {text-align:center;}
.info {font-size:18px; text-align:center; padding:0 5px; line-height:20px;}

.inputName {height:35px;font-size:14px; border:1px solid #e7e7e7; padding-left:5px }

.sumit {text-align:center; padding-bottom:10px}
/*.appList {text-align:left; padding:10px}
.appList h2 {font-size:20px; line-height:16px; margin:10px; padding:0; color:#edeff4; text-align:left;}
.appList ul {border:1px solid #eee; background:white; border-radius:10px; padding:0; margin:0}
.appList ul li {list-style:none; border-bottom:1px solid #ccc; padding:10px}
.appList ul li a {text-decoration:none}
.appList ul li:last-child {border-bottom:none}*/
#adTop,
#adMiddle,
#adBottom {text-align:center}


#result {position:relative; z-index:102}
#result .nav {position:fixed; top:390px; border-radius:10px; opacity:.3; width:50px; height:50px;}
#result .next {background:url('../imgKatalk/btnLeft.png') no-repeat #000 13px 10px; left:0px}
#result .prev {background:url('../imgKatalk/btnRight.png') no-repeat #000 20px 10px; right:0px}
#wrapper {min-height:200px}
#indicator {position:absolute; top:280px; left:0px;}
#indicator .ico {position:absolute; background:url('../imgKatalk/loading.png') no-repeat 0 0; width:25px; height:25px; z-index:101; top:13px; left:13px;}
#indicator .back {position:absolute; background:#000; border-radius:10px; width:50px; height:50px; opacity:.5; z-index:100; }


h2 {text-align:center;}
.game {background:url(../img/vs.png) no-repeat center 80px; padding:30px;}
.game .first {float:left; text-align:center;}
.game .second {float:right; text-align:center;}
.game .first p,
.game .second p {text-align:center;}
.game .round {clear:both; text-align:center; font-weight:bold; font-size:22px}
.game .stage {text-align:center;}
#result {}
#result .winner {text-align:center;}
#result .winner .title {color:#ca382d; padding:5px;}
#result .winner .photo {}
#result .winner .names {padding:5px;}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

.clearfix {*zoom: 1;}

.prettycheckbox,
.prettyradio {
    display: inline-block;
    padding:0;
    margin:0;
}

.prettycheckbox a,
.prettyradio a{
    width: 30px;
    height: 30px;
    background: url(../img/prettyCheckable-blue.png) top left no-repeat;
    display: block;
    float: left;
    cursor: pointer;
    margin:0;
}

.prettycheckbox.green a,
.prettyradio.green a{ background-image: url(prettyCheckable-green.png);}

.prettycheckbox.red a,
.prettyradio.red a{ background-image: url(prettyCheckable-red.png);}

.prettycheckbox.yellow a,
.prettyradio.yellow a{ background-image: url(prettyCheckable-yellow.png);}

.prettyradio a {background-position: 0 -120px;}

.prettycheckbox a:focus,
.prettyradio a:focus {outline: 0 none;}

.prettycheckbox a:focus{background-position: 0 -30px;}
.prettyradio a:focus{background-position: 0 -150px;}

.prettycheckbox a.checked{ background-position: 0 -60px; }
.prettyradio a.checked { background-position: 0 -180px; }

.prettycheckbox a.checked:focus{ background-position: 0 -90px; }
.prettyradio a.checked:focus { background-position: 0 -210px; }

.prettycheckbox label,
.prettyradio label {
  display: block;
  float: left;
  margin: 6px 5px;
  cursor: pointer;
}

.prettycheckbox.disabled a,
.prettyradio.disabled a,
.prettycheckbox.disabled label,
.prettyradio.disabled label{
  cursor:not-allowed;
}

.prettycheckbox.disabled a {
  background-position: 0 -240px;
}

.prettyradio.disabled a {
  background-position: 0 -270px;
}

#goStore {position:absolute; height:200px; background:#fff; width:300px; top:80px; -webkit-box-shadow:0px 0px 10px #000}
#goStore iframe {border:none; height:200px}


.checkList {text-align:left; margin:10px 0}
.checkList div {background:url(../img/prettyCheckable-blue.png) no-repeat 0 -125px; width:35px; height:25px; float:left}
.sel div {background:url(../img/prettyCheckable-blue.png) no-repeat 0 -185px; width:35px; height:25px; float:left}


nav .nav {display: table;width: 100%;height: 35px;border-bottom: 1px solid #2c6a81;background: #74b1c4;background: -webkit-gradient(radial,50% 50%,0px,50% 50%,100%,color-stop(0%,#81b8c9),color-stop(40%,#7fb6c8),color-stop(100%,#74b1c4));line-height: 34px;text-align: center;-webkit-box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.2),inset 0 -1px 0 0 rgba(0,0,0,.1);table-layout: fixed;}
nav .nav li {display: table-cell;}
nav .nav li.on a {color: #fffc00;text-shadow: 0 -1px 0 rgba(0,0,0,.3);}
nav .nav li a {display: block;font-weight: 600;font-size: 14px;color: #245465;text-shadow: 0 1px 0 rgba(255,255,255,.3);}

.event_box {margin: 5px 5px 15px; border: 1px solid #979ba5; border-radius: 5px; box-shadow: 0 0 1px rgba(0,0,0,.3);}
.event_box .tit_area {position: relative;padding-left: 15px;border-bottom: 1px solid #979ba5;border-top-left-radius: 5px;border-top-right-radius: 5px;line-height: 35px;box-shadow: inset 1px 1px 0 #f5f6f7,inset -1px 0 0 #f5f6f7;}
.event_box .tit_area h2 {font-size: 15px;color: #29282c;letter-spacing: -1px;text-shadow: 0 1px 0 rgba(255,255,255,.55);text-align:left;}
.event_box .tit_area h2 .vs {color:blue;}
.event_box .tit_area .viewResult {position:absolute; top:0; right:10px;cursor: pointer;}
.event_box .tit_area .viewResult em {display: ;overflow: hidden;position: absolute;right: 43px;bottom: 6px;width: 20px;height: 20px;background: url(../images/img/sp_btn.png) no-repeat -44px 6px;background-size: 250px 250px;line-height: 999px;vertical-align: top;-webkit-background-size: 250px 250px;}
.event_box.open .tit_area .viewResult em {background-position:-28px 6px}

/* type A */
.event_box .poll_content {text-align:center; margin-top:20px}
.event_box .poll_content .pcontent {}
.event_box .poll_content .pcontent .plist {display:inline-block; width:130px; vertical-align:top}
.event_box .poll_content .pcontent .btn_poll {overflow: hidden;margin: 8px 3px;border-radius: 3px;background-color: #bdb7b7;background-image: -webkit-gradient(linear,left top,left bottom,from(#ccc5c5),to(#b1acac));background-image: -moz-linear-gradient(top,#ccc5c5,#b1acac);background-image: -o-linear-gradient(top,#ccc5c5,#b1acac);background-image: linear-gradient(to bottom,#ccc5c5,#b1acac);box-shadow: 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1); cursor:pointer;}
.event_box .poll_content .pcontent .pround {display: inline-block;padding: 1px;border-radius: 3px;font-size: 12px;text-decoration: none;}
.event_box .poll_content .pcontent .btn_poll .inner_poll {overflow: hidden;border-radius: 3px;padding: 4px 15px 2px;font-size: 1.2em;color: #444;letter-spacing: -1px;background-color: #f9f9f9;background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f4f4f4));background-image: -moz-linear-gradient(top,#fff,#f4f4f4);background-image: -o-linear-gradient(top,#fff,#f4f4f4);background-image: linear-gradient(to bottom,#fff,#f4f4f4);}
.event_box .tinfo {padding: 17px 20px 18px;border: 1px solid #bcbcbc;background: #fafafa;line-height: 18px;text-align: left; margin-top:15px; display:none;}
.event_box .tinfo .ico {display: inline-block;overflow: hidden;background: url(../images/img/sp_ico.png) no-repeat;background-size: 250px 250px;line-height: 999px;vertical-align: top;-webkit-background-size: 250px 250px;}
.event_box .tinfo .ico.i {width: 15px;height: 15px;background-position: -109px 0;}


/* type B */
.event_box .poll_content_list {}
.event_box .poll_content_list .pcontent {margin-top:20px; text-align:center;}
.event_box .poll_content_list .pcontent .plist {overflow: hidden;margin: 6px 12px 0;padding: 1px;border-radius: 3px;background-color: #b8b4b4;background-image: -webkit-gradient(linear,left top,left bottom,from(#c4bfbf),to(#aba8a8));background-image: -moz-linear-gradient(top,#c4bfbf,#aba8a8);background-image: -o-linear-gradient(top,#c4bfbf,#aba8a8);background-image: linear-gradient(to bottom,#c4bfbf,#aba8a8); cursor:pointer;}
.event_box .poll_content_list .pcontent .plist.on {background: #635757;}
.event_box .poll_content_list .pcontent .plist .inner_item {overflow: hidden;border-radius: 3px;background-color: #f0efef;background-image: -webkit-gradient(linear,left top,left bottom,from(#f4f3f3),to(#eceaea));background-image: -moz-linear-gradient(top,#f4f3f3,#eceaea);background-image: -o-linear-gradient(top,#f4f3f3,#eceaea);background-image: linear-gradient(to bottom,#f4f3f3,#eceaea);}
.event_box .poll_content_list .pcontent .plist.on .inner_item {background: #978a8a;-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);}
.event_box .poll_content_list .pcontent .plist .inner_item .check_item {float: right;width: 25px;height: 25px;margin: 5px 6px 6px;border: 1px solid #c0bebe;border-radius: 5px;background-color: #e1e0e0;text-align: center;}
.event_box .poll_content_list .pcontent .plist.on .inner_item .check_item {border-color: #635353;background-color: #fff;}
.event_box .poll_content_list .pcontent .plist .inner_item .txt_g {float: left;margin: 10px 11px 0;}
.event_box .poll_content_list .pcontent .plist.on .inner_item .txt_g {color: #fff;}
.event_box .poll_content_list .pcontent .plist.on .ico_check {background-position: -50px -90px;}

.event_box .poll_content_list .pcontent .btn_poll {overflow: hidden;margin: 8px 3px;border-radius: 3px;background-color: #bdb7b7;background-image: -webkit-gradient(linear,left top,left bottom,from(#ccc5c5),to(#b1acac));background-image: -moz-linear-gradient(top,#ccc5c5,#b1acac);background-image: -o-linear-gradient(top,#ccc5c5,#b1acac);background-image: linear-gradient(to bottom,#ccc5c5,#b1acac);box-shadow: 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1); cursor:pointer;}
.event_box .poll_content_list .pcontent .pround {display: inline-block;padding: 1px;border-radius: 3px;font-size: 12px;text-decoration: none;}
.event_box .poll_content_list .pcontent .btn_poll .inner_poll {overflow: hidden;border-radius: 3px;padding: 4px 15px 2px;font-size: 1.2em;color: #444;letter-spacing: -1px;background-color: #f9f9f9;background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f4f4f4));background-image: -moz-linear-gradient(top,#fff,#f4f4f4);background-image: -o-linear-gradient(top,#fff,#f4f4f4);background-image: linear-gradient(to bottom,#fff,#f4f4f4);}
#evenDetail p.link {padding:10px;}
#evenDetail p.picture {padding:0px; text-align:center;}
#evenDetail p.txt {padding:10px;}




.event_box .event_area {padding: 15px 10px 13px;background: #fff;border-bottom: 1px solid #aaa;background: #fff;}
.event_box .list_area {position:relative; padding:15px 0px 13px;background: #fff;border-bottom: 1px solid; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background: #fff}
.event_box .list_area .list_con {display:none;}
#eventContainer {margin-top:0px}
.event_box .list_area li {padding: 8px 15px;border-top: 1px solid #dddddf; list-style:none;}
.event_box .list_area li:first-child {border-top: none;}
.event_box .list_area li a {color: #333;}
.event_box .list_area li a .thum {float:left;}
.event_box .list_area li.sel 
.event_box .list_area li a dl {padding-left:75px; display: block;-webkit-margin-before: 10px;-webkit-margin-after: 10px;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.event_box .list_area li a dt {margin-bottom: 3px;font-size: 16px;font-weight: bold;color: #43646b;letter-spacing: -1px;}
.event_box .list_area li a dd {position: relative;padding-left: 45px;font-size: 14px;line-height: 20px;color: #29282c;}
.event_box .list_area li a dd span {position: absolute;left: 0;color: #999;}
.event_box .list_area li a dd strong {display: inline-block;overflow: hidden;max-width: 100%;letter-spacing: 0px;text-overflow: ellipsis;}
.event_box .list_area .result_content {display:none;}
.event_box.open .list_area .result_content {display:block;}
.event_box .ico_q {float: left;margin-right: 4px;font-weight: bold;font-size: 1.133em;line-height: 1.33em;font-family: Helvetica,sans-serif;color: #de4644;position: relative;top: -3px;}
.event_box .ico_ent {display: inline-block;overflow: hidden;background: url(../images/img/ico_ent.png) no-repeat;text-indent: -9999px;vertical-align: top;}
.event_box .ico_check {margin-top: 7px;width: 14px;height: 10px;background-position: -30px -90px;}
.event_box .ico_vs {width: 25px;height: 15px;margin-top: 36px;background-position: -10px -110px;}

.event_box .share_area {padding: 10px 0 1px 0;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background: #fff;}
.event_box .tab_area {display: table;width: 100%;table-layout: fixed;}
.event_box .tab_area li {display: table-cell; border-bottom: 1px solid #979ba5;}
.event_box .tab_area li:first-child {border-top-left-radius: 5px; box-shadow: inset 1px 1px 0 #f5f6f7;}
.event_box .tab_area li:last-child {border-top-right-radius: 5px;border-left: 1px solid #979ba5;box-shadow: inset -1px 1px 0 #f5f6f7;}
.event_box .tab_area li.on {border: none;background: #fff;}
.event_box .tab_area li:first-child.on,
.event_box .tab_area li:last-child.on {box-shadow: none;}
.event_box .tab_area li a {display: block;line-height: 35px;font-size: 15px;font-weight: bold;color: #29282c;letter-spacing: -1px;text-align: center;text-shadow: 0 1px 0 rgba(255,255,255,.55);}
.inbox {border:none; margin-bottom:0; padding:0 10px}


.fb-comments, .fb-comments span[style], .fb-comments iframe[style] {width: 100% !important;}
select {float: none;width: 70%;height: 31px;margin-left: 6px;margin-bottom: 15px;background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f6f6f6));background-size: 30px 12px,auto auto;line-height: 29px;font-size: 15px;color: #555;-webkit-background-size: 30px 12px,auto auto}



nav .nav {display: table;width: 100%;height: 35px;border-bottom: 1px solid #2c6a81;;background: #74b1c4;background: -webkit-gradient(radial,50% 50%,0px,50% 50%,100%,color-stop(0%,#81b8c9),color-stop(40%,#7fb6c8),color-stop(100%,#74b1c4));line-height: 34px;text-align: center;-webkit-box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.2),inset 0 -1px 0 0 rgba(0,0,0,.1);table-layout: fixed;}
nav .nav li {display: table-cell;}
nav .nav li.on a {color: #fffc00;text-shadow: 0 -1px 0 rgba(0,0,0,.3);}
nav .nav li a {display: block;font-weight: 600;font-size: 14px;color: #245465;text-shadow: 0 1px 0 rgba(255,255,255,.3);}
nav .notice {padding:5px; background:#f4f4f4; border-bottom:1px solid #979ba6}
nav .notice a {color:#28272c;}


.event_box1 {margin: 5px 5px 15px; border: 1px solid #979ba5; border-radius: 5px; box-shadow: 0 0 1px rgba(0,0,0,.3);}
.event_box1 .tit_area {position: relative;padding-left: 15px;border-bottom: 1px solid #979ba5;border-top-left-radius: 5px;border-top-right-radius: 5px;line-height: 35px;box-shadow: inset 1px 1px 0 #f5f6f7,inset -1px 0 0 #f5f6f7;}
.event_box1 .tit_area h2 {font-size: 15px;color: #29282c;letter-spacing: -1px;text-shadow: 0 1px 0 rgba(255,255,255,.55);text-align:left;}
.event_box1 .event_area {padding: 15px 10px 13px;background: #fff;border-bottom: 1px solid;background: #fff;}
.event_box1 .list_area {padding: 5px 0px 13px;background: #fff;border-bottom: 1px solid; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background: #fff}
.event_box1 .list_area .list_con {display:none;}
.event_box1 .list_area li {padding: 0px 20px 0px 16px;border-top: 1px solid #dddddf; list-style:none;}
.event_box1 .list_area li:first-child {border-top: none;}
.event_box1 .list_area li a {display: block;}
.event_box1 .list_area li a .thum {float:left;}
.event_box1 .list_area li a dl {padding-left:75px; display: block;-webkit-margin-before: 10px;-webkit-margin-after: 10px;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.event_box1 .list_area li a dt {margin-bottom: 3px;font-size: 16px;font-weight: bold;color: #43646b;letter-spacing: -1px;}
.event_box1 .list_area li a dd {position: relative;padding-left: 35px;font-size: 14px;line-height: 20px;color: #29282c;}
.event_box1 .list_area li a dd span {position: absolute;left: 0;color: #999;}
.event_box1 .list_area li a dd strong {display: inline-block;overflow: hidden;max-width: 100%;letter-spacing: 0px;text-overflow: ellipsis;}

.event_box1 .share_area {padding: 10px 0 1px 0;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background: #fff;}
.event_box1 .tab_area {display: table;width: 100%;table-layout: fixed;}
.event_box1 .tab_area li {display: table-cell; border-bottom: 1px solid #979ba5;}
.event_box1 .tab_area li:first-child {border-top-left-radius: 5px; box-shadow: inset 1px 1px 0 #f5f6f7;}
.event_box1 .tab_area li:last-child {border-top-right-radius: 5px;border-left: 1px solid #979ba5;box-shadow: inset -1px 1px 0 #f5f6f7;}
.event_box1 .tab_area li.on {border-bottom: none;background: #fff;}
.event_box1 .tab_area li:first-child.on,
.event_box1 .tab_area li:last-child.on {box-shadow: none;}
.event_box1 .tab_area li a {display: block;line-height: 35px;font-size: 15px;font-weight: bold;color: #29282c;letter-spacing: -1px;text-align: center;text-shadow: 0 1px 0 rgba(255,255,255,.55);}
.inbox {border:none; margin-bottom:0; padding:0 10px}
.result_box {border-top:1px solid #979ba5; padding:10px 0;}
.result_box .container {position: relative; background:#eceef0; padding:10px;overflow: hidden;margin: 5px 5px 0;border: 1px solid #979ba5;border-radius: 5px;box-shadow: 0 0 1px rgba(0,0,0,.3); display:none;}
.result_box .info_w {position: relative;height: 51px;padding:0 0 10px 57px;}
.result_box .info_w .ico_prize {overflow: hidden;position: absolute;top: 0;left: 0;width: 51px;height: 51px;background: url(../images/img/sp_pop.png) no-repeat 0 -115px;background-size: 200px 166px;line-height: 999px;-webkit-background-size: 200px 166px;}
.result_box .info_w h3 {overflow: hidden;padding-top: 7px;font-size: 17px;font-weight: bold;color: #29282c;white-space: nowrap;text-overflow: ellipsis;}
.result_box .info_w .info {display: table;margin-top: 5px;font-size: 13px;}
.result_box .lucky {position: relative; background:#fff; padding:10px;overflow: hidden;margin: 5px auto 0;border: 1px solid #979ba5;border-radius: 5px;box-shadow: 0 0 1px rgba(0,0,0,.3); width:100px; text-align:center;}
.result_box .resultImg {text-align:center; padding:10px}
.result_box .resultTxt {text-align:center; padding:10px}


/* 탭메뉴 */
.sc_tb {position: relative;overflow: hidden;padding: 3px 8px 4px;border-top: 1px solid #e4e3e3}
.sc_tb a.on {border: 1px solid #808292;color: #191e3c;background: #dee1e8;box-shadow: inset 2px 2px 6px #97a0b3;}
.sc_tb a {display: block;float: left;width: 50%;height: 32px;border: 1px solid #949cac;border-right: 0;border-radius: 4px 0 0 4px;-webkit-box-sizing: border-box;box-sizing: border-box;text-align: center;color: #424652;letter-spacing: -1px;font-weight: bold;font-size: 14px;text-shadow: 0 1px rgba(255,255,255,0.05);line-height: 2.28em;background: -webkit-gradient(linear,0 0,0 100%,from(#fefefe),to(#e9ebed));}
.sc_tb a.on + a {border-left: 0;}
.sc_tb a + a {border-radius: 0 4px 4px 0;border-right: 1px solid #949cac;}






 